@import "tailwindcss";

@theme {
  --color-slt-blue: #0072ce;
  --color-slt-green: #65b32e;
  --color-slt-dark-blue: #005aab;
  --color-slt-grad-start: #12a64c;
  --color-slt-grad-end: #1a4b6c;
}

body {
  @apply bg-slate-50 text-slate-800 min-h-screen font-sans antialiased;
}
